/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Belleza|Buda:300|Open+Sans|Source+Sans+Pro:300,400');

/* Colors */
/*
color: #FFFFFF text color (1)
color: #F2F2F2 text color (2)
color: #E4E4E4 text color (3)
color: #B4B4B4 text color (4)
color: #545454 text color (5)
color: #242424 text color (6)
color: #000000 text color (7)
*/

/* Elements */
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  color: #545454; /* text color (5) */
  font-family: "Source Sans Pro", "Open Sans", sans-serif; /* Base Font Families */
  font-size: 14px; /* base font size */
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}

input {
  border: none;
  font-size: 1em;
  font-weight: 300;
  margin: 16px 0;
  padding: 10px 8px;
  width: stretch;
}

p {
  font-size: 1em;
  font-weight: 300;
  margin: 8px 0 0 0;
}

textarea {
  border: none;
  font-size: 1em;
  font-weight: 300;
  margin: 8px 0 16px 0;
  padding: 10px 8px;
  width: stretch;
}

/* id */
#root {
  height: 100%;
}

/* class */
.about {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px 0;
}

.about-container {
  align-items: center;
  background-color: #F2F2F2; /* text color (2) */
  display: flex;
  min-height: 286px;
}

.about-content {
  align-self: center;
  margin: 0 16px;
}

.about-decoration {
  background-color: #545454; /* text color (5) */
  height: 16px;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.contact {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
}

.contact-content {
  background-color: #545454; /* text color (5) */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px;
}

.contact-address {
  color: #E4E4E4;  /* text color (3) */
  font-size: 1.1em;
  margin: 0;
}

.contact-email {
  color: #E4E4E4;  /* text color (3) */
  margin: 0;
  text-decoration: underline;
}

.contact-name {
  color: #E4E4E4;  /* text color (3) */
  font-size: 1.05em;
}

.contact-map {
  height: 350px;
  width: 100%;
}

.footer-container {
  background-color: #545454; /* text color (5) */
  color: #E4E4E4; /* text color (3) */
  display: flex;
  justify-content: center;
  padding: 12px;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.footer-text {
  font-size: 0.75em;
  margin: 0;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 350px;
  padding: 0 16px;
}

.hero-content {
  z-index: 1;
}

.hero-decoration {
  background-color: #545454; /* text color (5) */
  height: 0.5em;
  width: 100%;
}

.hero-title {
  font-family: 'Belleza', sans-serif;
  font-size: 1.5em;
  margin: 4px 0;
}

.hero-sub {
  flex-shrink: 0;
  display: block;
  float: left;
}

.hero-subtitle {
  font-family: 'Buda', cursive;
  font-size: 1.25em;
  margin: 0;
}

.hero-image {
  background-size: 100%;
  background: url('./media/hero-mobile.png') no-repeat center;
  height: 50%;
  position: absolute;
  right: 0;
  width: 50%;
}

.input-button {
  border: none;
  border-radius: 4px;
  background-color: #9F2529;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin: 16px 0;
  padding: 10px 8px;
  width: stretch;
}

.input-label {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 16px 0;
}

.input-label p {
  margin: 0 0 0 16px;
}

.input-label input {
  margin: 0;
}

.invite-content {
  align-self: center;
  justify-content: center;
  margin: 0 16px;
  text-align: center;
}

.marker {
  color: #F88A84;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  right: 16px;
  top: 0;
}

.nav li {
  display: inline;
  font-size: 0.8em;
  font-weight: bold;
  z-index: 99;
}

.nav li a {
  text-decoration: none;
  color: #545454; /* text color (5) */
}

.wc-faq {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 280px;
}

.wc-faq-answers {
  font-size: 1.15em;
  line-height: 2em;
}

.wc-faq-body {
  font-size: 1.15em;
  line-height: 2em;
}

.wc-faq-content {
  background-color: #F2F2F2;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
  padding: 32px 16px;
  width: 75vw;
}

.wc-faq-question p {
  font-size: 1.25em;
  font-weight: bold;
}

.wc-faq-section {
  margin: 16px 0;
}

.wc-faq-title {
  font-size: 1.5em;
}

.wc-hero {
  align-items: center;
  color: #9F2529;
  display: flex;
  flex-direction: row;
  min-height: 280px;
  background: url('./media/wc-hero-mobile.png') no-repeat center;
  background-size: cover;
}

.wc-hero-content {
  margin: 0 32px;
  z-index: 1;
}

.wc-hero-title {
  font-family: 'Belleza', sans-serif;
  font-size: 1.5em;
  margin: 4px 0;
}

.wc-hero-sub {
  border-radius: 16px;
  border: 1px solid;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  float: left;
  margin-top: 8px;
}

.wc-hero-sub p {
  font-size: 1em;
  margin: 0;
  padding: 4px 8px;
}

.wc-hero-subtitle {
  font-family: 'Buda', cursive;
  font-size: 1.25em;
  margin: 0;
}

.wc-hero-sub-closedRegistration {
  border-radius: 16px;
  border: 1px solid;
  display: block;
  flex-shrink: 0;
  float: left;
  margin-top: 8px;
}

.wc-hero-sub-closedRegistration p {
  font-size: 1em;
  margin: 0;
  padding: 4px 8px;
}

.wc-logo {
  align-items: center;
  color: #9F2529;
  display: flex;
  flex-direction: row;
  min-height: 280px;
}

.wc-logo-image {
  background-size: 100%;
  background: url('http://res.cloudinary.com/diy9jjbzh/image/upload/v1517114484/branding/winter_camp_logo.png') no-repeat center;
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
}

.wc-map {
  height: 100%;
  width: 100%;
  margin: 16px 0;
}

.wc-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  right: 32px;
  top: 0;
  width: 40%;
}

.wc-nav li {
  display: inline;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bold;
}

.wc-nav li a {
  width: max-content;
  text-decoration: none;
  color: #9F2529;
}

.wc-registration-checkbox {
  height: 16px;
  margin-bottom: 10%;
  width: 16px;
}

.wc-registration-container-submit {
  margin-top: 10%;
}

.wc-registration-form {
  margin: 32px 0;
}

.wc-registration-input {
  border-radius: 4px;
  margin-bottom: 5%;
}

.wc-registration-label p {
  font-size: 1.25em;
}

.wc-registration-link {
  display: block;
  margin-top: 16px;
  text-decoration: underline;
}

.wc-registration-textarea {
  margin-bottom: 10%;
}

.wc-speaker-name p {
  font-size: 1.25em;
  font-weight: bold;
}

.wc-speaker-photo {
  height: 100%;
  width: 100%;
}

.wc-speaker-photo-container {
  display: flex;
  justify-content: center;
  margin: 0 0 32px 0;
}

.wc-speaker-section {
  margin: 16px 0;
}

.wc-verse {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 280px;
}

.wc-verse-author {
  text-align: right;
}

.wc-verse-body p {
  font-style: italic;
  line-height: 1.75em;
}

.wc-verse-content {
  background-color: #F2F2F2;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
  padding: 16px;
  width: 75vw;
}

/* Media Queries */
/* Large Mobile */
@media only screen and (min-width: 414px) {
  body {
    font-size: 16px; /* base desktop font size */
  }

  .about {
    min-height: 400px;
  }

  .about-container {
    min-height: 336px;
  }

  .about-content {
    margin: 0 32px;
  }

  .contact {
    min-height: 400px;
  }

  .contact-content {
    min-height: 200px;
    padding: 32px 8px;
    right: 16px;
  }

  .contact-map {
    height: 400px;
  }

  .footer-container {
    padding: 16px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    justify-content: space-between;
    padding: 0 32px;
  }

  .invite-content {
    margin: 0 32px;
  }

  .wc-faq-content {
    margin: 64px 32px;
    padding: 32px;
    width: 65vw;
  }

  .wc-faq-title {
    font-size: 1.75em;
    line-height: 2.5em;
  }

  .wc-faq-section {
    margin: 24px 0;
  }

  .hero-image {
    background: url('./media/hero-mobile.png') no-repeat center;
    background-size: 100%;
    width: 50%;
  }

  .wc-hero {
    min-height: 400px;
    background: url('./media/wc-hero-tablet.png') no-repeat center;
    background-size: cover;
  }

  .wc-hero-content {
    margin: 0 48px;
  }

  .wc-hero-sub {
    border-radius: 16px;
    margin-top: 16px;
  }

  .wc-hero-sub p {
    margin: 0;
    padding: 6px 16px;
  }

  .wc-hero-sub-closedRegistration {
    border-radius: 16px;
    margin-top: 16px;
  }

  .wc-hero-sub-closedRegistration p {
    margin: 0;
    padding: 6px 16px;
  }

  .wc-logo {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    justify-content: space-between;
    padding: 0 32px;
  }

  .wc-nav {
    right: 16px;
  }

  .wc-speaker-photo-container {
    margin: 0 0 48px 0;
  }

  .wc-speaker-section {
    margin: 24px 0;
  }

  .wc-verse {
    min-height: 400px;
  }

  .wc-verse-content {
    border-radius: 14px;
    margin: 64px 32px;
    padding: 32px;
    width: 65vw;
  }
}

/* Tablet */
@media only screen and (min-width: 700px) {
  body {
    font-size: 18px; /* base desktop font size */
  }

  .about {
    min-height: 500px;
  }

  .about-container {
    justify-content: center;
    min-height: 504px;
  }

  .about-content {
    margin: 0 48px;
  }

  .about-content > p {
    max-width: 65ch;
  }

  .contact {
    min-height: 500px;
  }

  .contact-content {
    min-height: 300px;
    padding: 48px 32px;
    right: 10vw;
  }

  .contact-map {
    height: 600px;
  }

  .contact-address {
    font-size: 1.25em;
    margin-top: 8px;
  }

  .contact-email {
    color: #E4E4E4;  /* text color (3) */
    margin-top: 8px;
  }

  .contact-email-container {
    margin: 16px 0;
  }

  .contact-name {
    font-size: 1.15em;
  }

  .footer-container {
    padding: 20px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    min-height: 600px;
    justify-content: space-between;
    padding: 0 48px;
  }

  .hero-image {
    background: url('./media/hero-tablet.png') no-repeat center;
    right: 48px;
    width: 50%;
  }

  .hero-title {
    font-size: 2.25em;
    margin: 8px 0;
  }

  .hero-subtitle {
    font-size: 1.75em;
  }

  .input-button {
    padding: 16px;
    width: 50%;
  }

  .invite-content {
    margin: 0 48px;
  }

  .invite-content > h1 {
    max-width: 65ch;
  }

  .nav {
    top: 8px;
    right: 32px;
  }

  .nav li {
    font-size: 1em;
  }

  .wc-faq-answers {
    font-size: 1.35em;
  }

  .wc-faq-body {
    font-size: 1.35em;
  }

  .wc-faq-content {
    margin: 48px 72px;
    padding: 48px;
    width: 60vw;
  }

  .wc-faq-question p {
    font-size: 1.5em;
    font-weight: bold;
  }

  .wc-faq-title {
    font-size: 2em;
    line-height: 3em;
  }

  .wc-faq-section {
    margin: 32px 0;
  }

  .wc-hero {
    min-height: 600px;
    background: url('./media/wc-hero-desktop.png') no-repeat center;
    background-size: cover;
  }

  .wc-hero-content {
    margin: 0 64px;
  }

  .wc-hero-title {
    font-size: 2.25em;
    margin: 8px 0;
  }

  .wc-hero-subtitle {
    font-size: 1.75em;
  }

  .wc-hero-sub {
    border-radius: 32px;
    margin-top: 32px;
  }

  .wc-hero-sub p {
    font-size: 1.25em;
    margin: 0;
    padding: 10px 18px;
  }

  .wc-hero-sub-closedRegistration {
    border-radius: 32px;
    margin-top: 32px;
  }

  .wc-hero-sub-closedRegistration p {
    font-size: 1.25em;
    margin: 0;
    padding: 10px 18px;
  }

  .wc-logo {
    display: flex;
    flex-direction: row;
    min-height: 600px;
    justify-content: space-between;
    padding: 0 48px;
  }

  .wc-logo-image {
    background: url('http://res.cloudinary.com/diy9jjbzh/image/upload/v1517117918/branding/winter_camp_logo-tablet.png') no-repeat center;
  }

  .wc-nav {
    top: 8px;
    right: 32px;
    width: 33%;
  }

  .wc-nav li {
    font-size: 1em;
  }

  .wc-registration-form {
    margin: 64px 0;
  }

  .wc-registration-checkbox {
    height: 18px;
    width: 18px;
  }

  .wc-registration-container-submit {
    margin-top: 20%;
  }

  .wc-registration-input {
    width: 75%;
  }

  .wc-registration-textarea {
    width: 75%;
  }

  .wc-speaker-name p {
    font-size: 1.5em;
    font-weight: bold;
  }

  .wc-speaker-photo-container {
    margin: 0 0 72px 0;
  }

  .wc-speaker-section {
    margin: 32px 0;
  }

  .wc-verse {
    min-height: 500px;
  }

  .wc-verse-body p {
    line-height: 2em;
  }

  .wc-verse-content {
    border-radius: 14px;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 48px 72px;
    padding: 48px;
    width: 60vw;
  }
}

/* Desktop */
@media only screen and (min-width: 1040px) {
  body {
    font-size: 20px; /* base desktop font size */
  }

  .about {
    min-height: 750px;
  }

  .about-container {
    min-height: 622px;
  }

  .about-content {
    /*align-self: center;*/
    margin: 0 64px;
  }

  .about-content > p {
    max-width: 65ch;
  }

  .contact {
    min-height: 750px;
  }

  .contact-content {
    min-height: 400px;
    padding: 64px;
    right: 20vw;
  }

  .contact-map {
    height: 750px;
  }

  .contact-address {
    font-size: 1.5em;
    margin-top: 16px;
  }

  .contact-email {
    margin-top: 8px;
  }

  .contact-email-container {
    margin-top: 32px;
  }

  .contact-name {
    font-size: 1.20em;
  }

  .footer-container {
    padding: 24px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    min-height: 750px;
    justify-content: space-between;
    padding: 0 64px;
  }

  .hero-decoration {
    height: 1em;
  }

  .hero-image {
    background: url('./media/hero-desktop.png') no-repeat center;
    height: 100%;
    right: 64px;
    width: 50%;
  }

  .hero-title {
    font-size: 4em;
    margin: 16px 0;
  }

  .hero-subtitle {
    font-size: 3em;
  }

  .invite-content {
    /*align-self: center;*/
    margin: 0 64px;
  }

  .invite-content > h1 {
    max-width: 65ch;
  }

  .nav {
    top: 8px;
    right: 48px;
  }

  .nav li {
    font-size: 1.15em;
  }

  .wc-faq-answers {
    font-size: 1.15em;
  }

  .wc-faq-body {
    font-size: 1.15em;
  }

  .wc-faq-content {
    padding: 32px;
    width: 60vw;
  }

  .wc-faq-question p {
    font-size: 1.5em;
    font-weight: bold;
  }

  .wc-faq-title {
    font-size: 3em;
  }

  .wc-hero {
    min-height: 750px;
    background: url('./media/wc-hero-desktop-hd.png') no-repeat center;
    background-size: cover;
  }

  .wc-hero-content {
    margin: 0 72px;
  }

  .wc-hero-title {
    font-size: 4em;
    margin: 16px 0;
  }

  .wc-hero-subtitle {
    font-size: 3em;
  }

  .wc-hero-sub {
    border-radius: 36px;
    margin-top: 48px;
  }

  .wc-hero-sub p {
    font-size: 1.75em;
    margin: 0;
    padding: 16px 32px;
  }

  .wc-hero-sub-closedRegistration {
    border-radius: 36px;
    margin-top: 48px;
  }

  .wc-hero-sub-closedRegistration p {
    font-size: 1.75em;
    margin: 0;
    padding: 16px 32px;
  }

  .wc-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px;
  }

  .wc-nav {
    top: 8px;
    right: 48px;
    width: 25%;
  }

  .wc-nav li {
    font-size: 1.15em;
  }

  .wc-registration-label p {
    font-size: 1.5em;
  }

  .wc-speaker-name {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    /*margin-left: 16px*/
  }

  .wc-speaker-name p {
    font-size: 1.5em;
    font-weight: bold;
  }

  .wc-speaker-photo {
    height: max-content;
    width: max-content;
  }

  .wc-speaker-photo-container {
    margin: 0 0 48px 0;
    width: min-content;
  }

  .wc-speaker-section {
    display: flex;
    flex-direction: column;
  }

  .wc-verse {
    min-height: 600px;
  }

  .wc-verse-body p {
    line-height: 2.5em;
  }

  .wc-verse-content {
    border-radius: 16px;
    height: 20vh;
    padding: 32px;
    width: 60vw;
  }
}

/* Desktop HD */
@media only screen and (min-width: 1440px) {
  .about {
    min-height: 800px;
  }

  .about-container {
    min-height: 722px;
  }

  .about-content {
    margin: 0 64px;
  }

  .contact {
    min-height: 800px;
  }

  .contact-map {
    height: 800px;
  }

  .hero {
    min-height: 750px;
  }

  .invite-content {
    margin: 0 64px;
  }

  .nav {
    top: 16px;
    right: 48px;
  }

  .nav li {
    font-size: 1.25em;
  }

  .wc-hero {
    min-height: 800px;
    background: url('./media/wc-hero-desktop-hd.png') no-repeat center;
    background-size: cover;
  }

  .wc-hero-content {
    margin: 0 90px;
  }

  .wc-hero-sub {
    border-radius: 40px;
    margin-top: 48px;
  }

  .wc-hero-sub p {
    font-size: 2em;
    margin: 0;
    padding: 20px 36px;
  }

  .wc-hero-sub-closedRegistration {
    border-radius: 40px;
    margin-top: 48px;
  }

  .wc-hero-sub-closedRegistration p {
    font-size: 2em;
    margin: 0;
    padding: 20px 36px;
  }

  .wc-logo {
    min-height: 750px;
  }

  .wc-logo-image {
    background: url('http://res.cloudinary.com/diy9jjbzh/image/upload/v1517118197/branding/winter_camp_logo-desktop.png') no-repeat center;
  }

  .wc-nav {
    top: 16px;
    right: 48px;
    width: 25%;
  }

  .wc-nav li {
    font-size: 1.25em;
  }

  .wc-verse {
    min-height: 600px;
  }

  .wc-verse-content {
    border-radius: 18px;
    padding: 32px;
  }
}
